<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="org.example.pojo"/>
    </typeAliases> 
    <!--默认环境-->
    <!--<environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                &lt;!&ndash;                JDBC 驱动&ndash;&gt;
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                &lt;!&ndash;                url数据库的 JDBC URL地址。&ndash;&gt;
                <property name="url" value="jdbc:mysql://localhost:3306/user?useSSL=true"/>
                <property name="username" value="root"/>
                <property name="password" value="huanghongtao520"/>
            </dataSource>
        </environment>
    </environments>-->

    <!--每一个Mapper都需要在mybatis-config.xml配置文件中注册-->
    <!--资源路径是斜杠,不是点,易错-->
    <mappers>
        <mapper class="org.example.mapper.UserMapper"/>
    </mappers>


</configuration>