<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定对应的mapper接口-->
<mapper namespace="org.example.mapper.UserMapper">

    <resultMap id="map1" type="user">
        <!--其它相同的字段不用写-->
        <!--将实体类中password属性和数据库中pwd对应起来-->
        <result property="password" column="pwd"/>
    </resultMap>
    <select id="queryAll" resultMap="map1">
        select * from user;
    </select>

    <update id="updatePwd" parameterType="map">
        update user set pwd=#{password} where id=#{id};
    </update>

    <select id="queryUserByLike" resultType="user">
        select * from user where name like "_"#{name}
    </select>

    <insert id="insertUser" parameterType="user">
        insert into user value (#{id},#{name},#{password})
    </insert>

    <select id="queryUserByLimit" parameterType="map" resultType="user">
        select * from user limit #{start},#{pagesize};
    </select>

</mapper>